h1 {
	font-size: 3em;
}

.main-container {
	margin: auto;
	text-align: center;
}

.board-container {
	margin: 50px auto;
	max-width: 210px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.space {
	border: 3px solid black;
	float: left;
	font-size: 24px;
	font-weight: bold;
	line-height: 34px;
	height: 70px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 70px;
}

/* SCOREBOARD */

.scoreboard-container {
	border: 1px solid black;
	border-radius: 10px;
	width: 400px;
	height: 180px;
	margin: auto;
	position: relative;
}

.player-score {
	font-size: 1.3em;
	width: 150px;
	position: absolute;
	left: 10px;
	bottom: 0;
}

.computer-score {
	font-size: 1.3em;
	width: 150px;
	position: absolute;
	right: 10px;
	bottom: 0;
}

/* BUTTON SELECTION BORDER REMOVAL*/
:focus {
  outline: none;
}

::-moz-focus-inner {
  border:0;
}